/* Configurações básicas */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-arrow {
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}

h1 {
    font-size: 1.5em;
}

.description {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.logo-section {
    text-align: center;
    margin-top: 20px;
}

.logo-circle {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto;
}

.btn {
    margin-block: 24px;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cancel {
    background-color: white;
    border: 2px solid var(--cor-primaria-dia);
    color: var(--cor-primaria-dia);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .logo-circle {
        width: 80px;
        height: 80px;
    }

    .btn {
        font-size: 0.9em;
    }
}