html {
    display: flex;
    justify-content: center;
}

body {  
    width: 375px;
}


#search {

    border: none;

}

.search-header {
    padding: 2px 0px 0px 15px;
    border-bottom: 1px #838588 solid;

}

.result-wrapper {
    width: 375px;
    height: 170px;
}

#search-result {

    display: flex;
    flex-direction: column;
    gap: 16px;

}